div.section.tc
    h1 Наши цели
    div.row-section
        h2.left.large-size#left Выделиться
        h2.right.large-size#right Оригинальное исполнение
    h2.center.large-size#center Простота и удобство