div.counters-page
    h1.gray j4skit
    div.counters-page--holder
        div#smart_counter_holder
        div.install
            div Установить:&nbsp
            a(href="https://www.npmjs.com/package/j4skit" target="_blank").grad
                | npm i j4skit
        div#notsmart_counter_holder